.loginPageContainer {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
}
.loginTextContainer {
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 20px;
}
/*sign in txt*/
.loginTextContainer span:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
}
/*crete an acc txt*/

.loginTextContainer span {
    font-size: 12px;
    text-decoration: none;
}
.loginTextContainer span a {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.loginTextContainer span a:visited ,.loginTextContainer span a:hover ,.loginTextContainer span a:active   {color:black}         /* Unvisited link  */

.bodyContainer {
    display: flex;
    flex-direction: column;
    gap : 20px;
}
.bodyContainer input {
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border-width: 1px;
}
.buttonContainer {
    height: 40px;
    border :1px solid black;
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: border-color 0.5s ease-in;
    
}
.buttonContainer:visited ,.buttonContainer:hover ,.buttonContainer:active   {color:black}         /* Unvisited link  */

.buttonContainer:hover {
    border-color: white;
}
.buttonContainer span svg {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
}

.loginButton {
    height: 40px;
    cursor: pointer;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 15px;
    border:unset;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

}
.loginButton:hover {
    opacity: 0.5;
}
.lineSeperator {
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}
.lineSeperatorContent {
  background:#fff; 
    padding:0 10px; 
    font-size: 15px;
    font-weight: bold;
}
.error {
    display: none;
    text-align: end;
    color : red;
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
}
.error.show {
    display: block;
}